**/*.map

.vscode/
.vscode-test/
# Benchmarks is bundled
benchmarks/
media/deval.svg
node_modules/
scripts/
src/
.gitignore
.vscode-test.mjs
DEV.md
*.vis
esbuild.js
eslint.config.mjs
package.lock.json
tsconfig.benchmarks.json
tsconfig.json
vitest.config.mts
vsc-extension-quickstart.md
