.vscode/**
.vscode-test/**
.deval/**
out/**
node_modules/**
package-lock.json
*.vsix
src/**
benchmarks/**
scripts/**
.github/**
.gitignore
.yarnrc
esbuild.js
vitest.config.mts
vitest.config.ts
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!resources/**
